!!! XML
%feed{:xmlns => "http://www.w3.org/2005/Atom"}
 
  %title= "Killer Dumptrucks"
  %link{:href => "http://killerdumptrucks.com/feed/", :rel => "self", :hreflang => "en", :type => "application/atom+xml"}/
  %link{:href => "http://killerdumptrucks.com/", :rel => "alternate", :hreflang => "en", :type => "text/html"}/
   
  %author
    %name Lachlan Hardy
    %uri http://killerdumptrucks.com/
    %email lachlan@killerdumptrucks.com

  %id= "tag:killerdumptrucks.com,2009-06-03:/"
  %updated= atomify_date(@items.first.updated || @items.first.published)

  - for item in @items[0..9]
    %entry
      %id= "tag:killerdumptrucks.com,#{item.published.strftime("%Y-%m-%d")}:/#{item.path.split("/")[-3]}/#{item.published.strftime("%Y%m%d%H%M%S")}"
      %title{:type => "html"}= item.title
      %published= atomify_date(item.published)
      %updated= atomify_date(item.updated || item.published)
      %link{:href => "http://killerdumptrucks.com/#{item.path.split("/")[-3]}/#{item.path.split("/")[-2]}/", :rel => "alternate", :hreflang => "en", :type => "text/html"}
      %content{:type => "html"}&= render_html(item.template)
